.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  min-height: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-content {
  min-height: 50px;
  background-color: #E0E0E0;
  flex: 1;
  min-height: auto;
  color: black;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}